body {
  background: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

.container {
  position: relative;
  top: 30px;
  margin: 0px auto;
  max-width: 600px;
  font-family: Poppins;
}

.search_form {
  border: none;
  font-size: 14px;
  margin: 0px auto;
  line-height: 1.7;
  padding: 5px;
  font-style: italic;
}

#btn_search {
  border-radius: 6px;
  border: none;
  padding: 5px 15px 5px 15px;
  color: #fcffe7;
  background: #0002a1;
}

#search_city_name {
  border-color: #0002a1;
  border-radius: 6px;
  border-width: 1px;
  padding: 5px 15px 5px 15px;
}

.dropdown_menu {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #fcffe7;
  width: 480px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
}

.dropdown_content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  background-color: #f1f6f5;
  border-radius: 6px;
}

.dropdown_menu:hover .dropdown_content {
  display: block;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 30px 0px;
  width: 480px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 10px 5px;
  transition: 0.3s;
  font-style: italic;
  font-weight: bold;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  font-size: 18px;
  padding: 60px 0px 0px 20px;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  list-style: none;
}

#current_weather_image {
  font-weight: 18px;
}
#current_weather_temperature {
  font-size: 36px;
  position: relative;
  top: -60px;
  left: 65px;
}

#current_temperature_max {
  color: grey;
  font-style: italic;
  font-weight: bold;
}

#current_temperature_max,
#current_temperature_min {
  font-size: 18px;
  position: relative;
  left: 40px;
  top: -70px;
  color: grey;
  font-style: italic;
  margin-bottom: none;
}

.units {
  font-size: 12px;
  top: -100px;
  left: 105px;
  position: relative;
}

.current_desctiption {
  position: absolute;
  top: 200px;
  left: 220px;
}

#btn_details {
  margin: 30px 0px 0px -20px;
  text-align: center;
  background: blue;
  color: white;
  border-radius: 4px;
}

#btn_details:hover {
  cursor: pointer;
  color: blue;
  background: white;
}

#btn_content {
  display: none;
  padding: 15px 0px 0px 0px;
}
